html { 
    font-size: 62.5%;

    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /*1rem = 10px*/
    background-color: var(--principal);
}

:root{
    /*Colores*/
    --blanco: #fff;
    --principal: #3B8B9B ;
    --secundario: #429AAC;
    --oscuro: #173A42;

}

/*Generales*/
    .contenedor{
        max-width: 120rem;
        margin: 0 auto 0 auto;
 
    }
    .texto-contenedor{
        text-align: center;
    }

    .alerta{
        width: 50%;
        color: rgb(68, 23, 23);
        text-align: center;
        text-decoration: double;    
    }



h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1rem;
}
h1,h2,h3,h4,h5{
    text-align: center;

}

.bold{
    font-weight: bold;
}

.boton {
    text-decoration: none;
    border: var(--oscuro) .2rem solid;
    color: rgb(107, 5, 107);
    border-radius: 1.5rem;
    padding: .5rem;
}
/*Header*/  
.nav-fondo{
    background-color: var(--secundario);
    padding: 1.5rem;
    

}
.barra-superior{
    max-width: 120rem;
    
    display: flex;
    justify-content: space-evenly;
    
}
.barra-superior a, a:visited{
    text-decoration: none;
    color: rgb(26, 64, 136);
}

.logo{
    position: absolute;
    left: 0;
    top: 0;

    margin: 2rem;
    width: 15rem;
    height: 15rem;
    

}

/*footer*/
.footer{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--oscuro);
    width: 100%;
    margin-top: 7rem;
    max-height: 15rem;
    padding-top: 2rem;
    padding-bottom: 3rem; 
    bottom: 0;
    
}
.footer-style{
    display:flex;   
    flex-direction: column;
    justify-content: space-evenly;

}
.footer-style a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    
}
.footer-style p{
    color: #fff;
    font-weight: bold;
    font-size: 2rem ;


}

.boton-footer {
    border: var(--blanco) .2rem solid;
    border-radius: 1rem;
}

.boton-footer:focus {
    border: var(--oscuro) .2rem solid;
    border-radius: 1rem;
    background-color: cornflowerblue;
}



/*---------- INICIO ---------*/
/*Body*/
.contenedor-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
    

    

}
.contenedor-inicio > section{

    border: var(--blanco) 0.1rem solid;
    width: 40%;
    padding: 1rem 3rem 3rem 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}




/*---------- CONTACTO ---------*/

.contacto-navegacion{
    display: flex;
    flex-direction: column;
    border: var(--oscuro) 0.4rem solid;
    width:  40%;
   align-content: center;
   padding: 2rem;
   padding-left: 4rem;
   
}
.contacto-navegacion a{
    text-decoration: none;   
}
.contacto-contenedor{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    
}
.contacto-form{
    margin-top: 3rem;
}
.contacto-form fieldset{
    display: flex;
    padding: 3rem 1rem 3rem 1rem;
    justify-content: space-evenly;
    margin-bottom: 1rem;

}
.contacto-form-item{
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
    max-width: 40%;

}
.boton-contacto-posicion{
    display: flex;
    justify-content: center;
}

.boton-contacto-enviar{
    border: var(--oscuro) .2rem solid;
    background-color: inherit;
    border-radius: 2rem;
    padding: 1rem 2rem;
    
}

.contacto-mensaje{
    width: 30rem;
    height: 15rem;
}

/*integrantes*/

.navegacion-integrante {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3rem;
}
.navegacion-integrante a{
    text-decoration: none;
    
}
.navegacion-integrante a:visited{
    color: inherit;
}
.boton-integrante {
    border: var(--oscuro) .2rem solid;
    background-color: var(--secundario);
    border-radius: 1rem;
    padding: 2rem;
    font-size: 2rem;
    font-weight:lighter;

}
.boton-integrante:focus {
    background-color: rgb(22, 150, 71);
}
/*.absolute-footer{ 
}*/
@media (min-height: 760px){
	.absolute-footer{
			position: absolute;
			bottom: 0;
			width:100%;
			
		}
}

/*Robando clase tabla de bootstrap :)*/
.table{
    width:100%;margin-bottom:1rem;background-color:transparent}
.table td,.table th{
    padding:.75rem;vertical-align:top;border-top:1px solid #dee2e6;
    /*mio*/
    text-align: center;}
.table thead th{
    vertical-align:bottom;border-bottom:2px solid #dee2e6}
.table tbody+tbody{
    border-top:2px solid #dee2e6}
.table .table{
    background-color:#fff}


    /*COomentarios*/
.boton-comentario{
    display: flex;
    
    justify-content: center;
    ;
    
}
.boton-botoncomen.boton-botoncomen{
    margin: 0 1rem;
}
.item-comentario{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
}